<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Web06_Filter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

    <resource-ref>
	 <description>Oracle Datasource example</description>
	 <res-ref-name>jdbc/myoracle</res-ref-name>
	 <res-type>javax.sql.DataSource</res-type>
	 <res-auth>Container</res-auth>
  </resource-ref>
  <!-- 인코딩 필터 정의하기( 웹서버에 알리기) -->
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>test.filter.EncodingFilter</filter-class>
  	<!-- 필터 초기화 파라미터 정의하기 encoding:utf-8 -->
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <!-- 인코딩 필터 맵핑하기(어떤 요청에 대해서 필터가 동작할지 알리기) -->
  <!-- /*=최상위 경로 하위에 모든요청 -->
  <!-- filter-name은 보통 패키지명과 같게하고 정의한 이름과 맵핑하는 이름이 같아야한다 -->
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>test.filter.LoginFilter</filter-class>
  </filter>
  LoginFilter 맵핑
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/member/*</url-pattern>
  </filter-mapping>
  LoginFilter 정의 -->
  
  
  
</web-app>